*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  background-color: #ffffff;
}

body {
  width: 375px;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
  font-size: 2.8em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.7em;
  font-weight: 400;
  color: #8C8C8C;
}

h4 {
  font-size: 1.7em;
  font-weight: 600;
  color: 000;
}

h5 {
  font-size: 1.3em;
  font-weight: 400;
  color: #8C8C8C;
}

h6 {
  font-size: 1em;
  color: #999EA3;
}

.top-section {

}

/* --------------- Map area + Top Status Bar ------------- */

#map-box {
  width: inherit;
  height: 310px;
  background-image: url("../images/road-map.png");
  background-color: blue;
}

#status-bar {
  background-image: url("../images/top-status-bar.png");
  height: 25px;
  position: absolute;
  width: inherit;
}

/* --------------- Search bar ------------- */

#search-bar {
  width: 90%;
  height: 10%;
  border-radius: 8px;
  background-color: #EFEFF4;
  margin: 0 auto;
  position: relative;
  top: 46px;
}

#search-icon {
  display: inline-block;
  margin: 5px;
}

.fa-search, .fa-microphone {
  color: #8C8C8C;
  font-size: 18px;
}

#where-to-search {
  display: inline-block;
}

#microphone-icon {
  display: inline-block;
  float: right;
  margin: 5px;
}

/* ------------ List header, name of selected stop --------------*/

#my-stop-box {
  padding: 15px;
  border-bottom: .5px solid #D3D3D3;
  /* background-color: pink; */
}

#current-stop-box {
  width: 100%;
}

#current-stop-name {
  display: inline-block;
  margin-top: 10px;
}

#pin-icon {
  margin-right: 10px;
  display: inline-block;
}

.fa-map-pin {
  color: red;
  font-size: 18px;
}


/* ------------------ List of upcoming buses ------------------*/

#bus-line-container {
 height: 300px;
 overflow: scroll;
 position: relative;
}


.line-info {
  background-color: #EFEFF4;
  height: 20px;
  border-bottom: .5px solid #D3D3D3;
  padding: 3px 0 3px 15px;
}

.line-direction {
  font-size: 1.3em;
  font-variant-caps: all-small-caps;
  color: #666666;
}

.bus-line-box {
  background-color: #fff;
  height: 62px;
  margin: 0 auto;
  border-bottom: .5px solid #D3D3D3;
}

.route-number {
  display: inline-block;
  margin: 5px 30px 0 5px;
  min-width: 50px;
  /* background-color: yellow; */
}

.route-info {
  display: inline-block;
  line-height: 2em;
  /* position: absolute; */
  vertical-align: middle;
  padding-bottom: 10px
}

.stop-name {
  float: right;
}

.bus-icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #999EA3;
  margin: 6px 10px 6px 15px;
}

.fa-bus {
  color: white;
  font-size: 2.5em;
  margin: 12px;
}

#buffer {
  margin: 20px;
}

/* ------------------- Lower Navigation Bar ------------*/

.lower-nav-box {
  height: 10%;
  background-color: #EFEFF4;
  border-top: 1px solid #D3D3D3;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  width: inherit;
}

.nav-icon {
  display: inline-block;
  width: 18%;
  margin: 3.1%;
  text-align: center;
}

.fa-user-circle, .fa-bookmark, .fa-share-alt {
  color: #999EA3;
}

.fa-user-circle{
  font-size: 3em;
  margin: 0 0 4px 0;
}

.fa-bookmark {
  font-size: 2.5em;
  margin: 0 0 10px 0;
}

.fa-share-alt {
  font-size: 2.4em;
  margin: 0 0 10px 0;
}

.nav-bus {
  font-size: 2.7em;
  margin: 0 0 8px 0;
}

.active {
  color: #1896D3;
}
